<app-addtodos (todoAdd)="addTodo($event)"></app-addtodos>

<!--If Else Block-->
<div class="text-center fs-2" *ngIf="this.todos.length === 0; else elseBlock">No Todos! Add Todos.</div>
<ng-template #elseBlock>

  <table class="table text-white mb-0">
    <thead>
      <tr>
        <th scope="col">Check</th>
        <th scope="col">Todos</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let todo of todos">
      <tr class="fw-normal">
        <td class="align-middle">
          <a href="#!" data-mdb-toggle="tooltip" title="Done">
            <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              aria-label="..."
              (click)="clickCheckbox(todo)"
              [checked]="!todo.active"
            />
          </a>
        </td>
        <td class="align-middle">
          <span class="text-capitalize" [ngClass]="{'strike' : !todo.active}">{{ todo.title }}</span>
        </td>
        <td class="align-middle">
          <a href="#!" data-mdb-toggle="tooltip" title="Remove">
            
            <img src="./assets/images/trash.png" (click)="todoDelete(todo)" alt="delete" width="30" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</ng-template>
