<!--todo template-->
<div class="gradient-custom-2" data-testid="todo-app">
  <div class="container mb-5">
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-12 col-xl-10">
            <div class="card mask-custom">
              <div class="card-body p-5 text-white">
                <div class="text-center pt-3 pb-2">
                  <img
                    class="favicon"
                    src="favicon.png"
                    alt="Check"
                    width="80"
                  />
                  <h2 class="my-4">Todo List</h2>
                </div>

                <!--app-todo component-->
                <app-todos></app-todos>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
